body {
  background-color: lightblue;
}
h1 {
  color: red;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 10em;
}
h2 {
  text-align: center;
  font-family: 'Special Elite', cursive;
}
#parentOfDivs {
  margin: 25px auto;
}
.window {
  height: 150px;
  width: 150px;
  border: 40px inset yellow;
  display: inline-block;
  margin-left: 135px;
  border-radius: 12%;
}
button {
  margin: 60px auto;
  display: block;
}
#img1 {
border: 40px inset yellow;
}
#img2 {
border: 40px inset green;
}
#img3 {
border: 40px inset orange;
}




